$base-black: #111417;
$base-white: #f5f5f5;

$system-error: #ff4545;

$system-success: #6aff59;

$primary-100: #c5c7ca;
$primary-200: #b4b7bb;
$primary-300: #93989c;
$primary-400: #72787e;
$primary-500: #51585f;
$primary-600: #303841;
$primary-700: #282f37;
$primary-800: #21262c;
$primary-900: #191d22;
$primary-1000: #111417;

$secondary-100: #c6d8e4;
$secondary-200: #b6cddc;
$secondary-300: #95b6cc;
$secondary-400: #75a0bc;
$secondary-500: #5489ad;
$secondary-600: #34739d;
$secondary-700: #2c6184;
$secondary-800: #234e6b;
$secondary-900: #1b3c52;
$secondary-1000: #132939;

$neutral-100: #f4f8fb;
$neutral-200: #f0f6fa;
$neutral-300: #eaf2f8;
$neutral-400: #e3eef6;
$neutral-500: #ddeaf4;
$neutral-600: #d6e6f2;
$neutral-700: #b4c1cb;
$neutral-800: #929ca5;
$neutral-900: #6f787e;
$neutral-1000: #4d5357;

$accent-100: #fffbb8;
$accent-200: #fffaa3;
$accent-300: #fff87a;
$accent-400: #fff652;
$accent-500: #fff429;
$accent-600: #fff200;
$accent-700: #d6cb00;
$accent-800: #ada500;
$accent-900: #857e00;
$accent-1000: #5c5700;
